body {
    padding-top: 70px;
    padding-bottom: 40px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin button {
    margin-top: 5px;
}

.error {
    color: red;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.img-twitch {
    margin-top: -10px;
    height: 30px;
    display: inline;
}

a > i:hover {
    text-decoration: none;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.front-footer li {
    padding-right: 20px;
}

.jumbotron {
    color: white;
    background: #DD4814;
    background: linear-gradient(20deg, #BB380C 30%, #DD4814 60%, #FF581C 100%);
}

/* datatables.net */
#listruns-table_filter {
    float: right;
}

.sorting_asc, .sorting_desc {
    background-color: #dff0d8; /* This is the "success" color for United */
}
