<!DOCTYPE html>
<html>

<head>
  <meta name="author" content="Richard 'rggibson' Gibson"/>
  <meta name="description" content="Web app for tracking speedrunning 
				    personal bests"/>
  <meta name="keywords" content="Speedrun, PB, Personal Best, 
				 Best Known Time"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <!-- Bootstrap recommended meta tag for IE compatibility -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Bootstrap mobile first -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" 
	href="/static/css/bootstrap.min.united.css" />
  <link 
     href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" 
     rel="stylesheet">

  {% block morehead %}
  <!-- Additional head content for specific pages goes here -->
  {% endblock %}

  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="shortcut icon" href="static/icons/favicon.ico" />

  <title>PB Tracker</title>

  <!-- TODO: Add Google Analytics support -->

</head>


<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container"> 
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" 
		data-target=".navbar-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand hidden-sm" href="/">
	  <i class="icon-road"></i> PB Tracker
	</a>
      </div>
      <div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
	  <li id="nav-home">
	    <a href="/"><i class="icon-home icon-large"></i> Home</a>
	  </li>
	  <li id="nav-runners">
	    <a href="/runners">
	      <i class="icon-group icon-large"></i> Runners
	    </a>
	  </li>
	  <li id="nav-games">
	    <a href="/games">
	      <i class="icon-gamepad icon-large"></i> Games
	    </a>
	  </li>
	  {% if user %}
	  <li id="nav-submit">
	    <a href="/submit">
	      <i class="icon-flag-checkered icon-large"></i> Submit run
	    </a>
	  </li>
	  {% endif %}
	  <li id="nav-blog" class="hidden-sm">
	    <a href="http://richardggibson.appspot.com/blog">
	      <i class="icon-comment icon-large"></i> Blog
	    </a>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  {% if user %}
	  <li id="nav-username">
	    <a href="/runner/{{user.key().name()}}">
	      <i class="icon-user icon-large"></i> {{user.username}}
	    </a>
	  </li>
	  <li id="nav-logout">
	    <a href="/logout">
	      <i class="icon-signout icon-large"></i> Log out
	    </a>
	  </li>
	  {% else %}
	  <li id="nav-signup">
	    <a href="/signup">
	      <i class="icon-book icon-large"></i> Sign up
	    </a>
	  </li>
	  <li id="nav-login">
	    <a href="/login"><i class="icon-signin icon-large"></i> Log in</a>
	  </li>
	  {% endif %}
	</ul>
      </div>
    </div>
  </div>

  <div class="container"> 

    {% block content %}
    {% endblock %}

    <footer>
      <center>
	<p>Send bugs, feature requests and box art requests to 
	  <a href="mailto:<name-of-site-no-spaces>speedruns<AT>gmail<DOT>com">
	    [name-of-site-no-spaces]speedruns[AT]gmail[DOT]com</a>,
	  or contribute to the <a href="https://github.com/rggibson/pb-tracker"><i class="icon-github"></i> GitHub open project</a>.</p>
	<p>&copy; Copyright 2013 
	  <a href="mailto:<name-of-site-no-spaces>speedruns<AT>gmail<DOT>com">
	    PB Tracker
	  </a>
	</p>
      </center>
    </footer>
  </div>  

</body>

</html>
