{% extends "base.html" %}

{% block subtitle %}Home{% endblock %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-home").setAttribute("class", "active");
</script>

<div id="pb-carousel" class="carousel slide hidden-xs" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#pb-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#pb-carousel" data-slide-to="1"></li>
    <li data-target="#pb-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/carousel/splash.png" alt="Splash">
      <div class="carousel-caption">
	<h3>Track your video game speedrun times and personal bests.</h3> 
      </div>
    </div>
    <div class="item">
      <img src="/static/carousel/runnerpage.png" alt="Runner page">
      <div class="carousel-caption" style="color: black;">
	<h3><b>Share your times on your own personal records page.</b></h3>
      </div>
    </div>
    <div class="item">
      <img src="/static/carousel/gamepage.png" alt="Game page">
      <div class="carousel-caption" style="color: black;">
	<h3><b>See other PB Tracker times on individual game pages.</b></h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#pb-carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#pb-carousel" data-slide="next">
    <span class="icon-next"></span>
  </a> 
</div>

<div class="jumbotron visible-xs">
  <center>
    <h1 style="font-size: 35px;"><i class="icon-road"></i> PB Tracker</h1>
    <p class="lead">
      Track your video game speedrun times and personal bests.
    </p>
  </center>
</div>

<div class="row">
  <div class="col-sm-6">
    <div>
      <h3 class="hidden-xs">
	<i class="icon-flag-checkered"></i> Submit Your Times
      </h3>
      <h3 class="visible-xs">
	<i class="icon-flag-checkered"></i> Submit Times
      </h3>
      <p>Submit your speed run times, then track your times and view 
	your personal bests.</p>
    </div>
    <div>
      <h3 class="hidden-xs">
	<i class="icon-bullhorn"></i> Show Off Your Times
      </h3>
      <h3 class="visible-xs">
	<i class="icon-bullhorn"></i> Show Off Times
      </h3>
      <p>Point viewers to your personal PB Tracker page for a one-stop shop
	of your best times.</p>
    </div>
    <div>
      <h3 class="hidden-xs"><i class="icon-list-ul"></i> Compare Your Times</h3>
      <h3 class="visible-xs"><i class="icon-list-ul"></i> Compare Times</h3>
      <p>Check out each game's page to see how well you stack up against 
	other PB Trackers.</p>
    </div>
    <div>
      <h3 class="hidden-xs">
	<i class="icon-upload-alt"></i> Auto-Submit From Splits
      </h3>
      <h3 class="visible-xs">
	<i class="icon-upload-alt"></i> Submit From Splits
      </h3>
      <p>Auto-upload runs from <a href="/faq?q=6">Time Split Tracker</a> and <a href="http://livesplit.org/">LiveSplit</a>.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <h3><i class="icon-twitter"></i> #PBTracker</h3>
    <a class="twitter-timeline" href="https://twitter.com/search?q=PBTracker" data-widget-id="412643971223928832" height="275" data-chrome="noheader nofooter noborders transparent">Tweets about "PBTracker"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<center>
  <h1>
    <a href="{% if user %}/submit{% else %}/signup{% endif %}" 
       class="btn btn-large btn-primary" style="font-size: 30px;">
      <span class="hidden-xs">
	<i class="icon-{% if user %}flag-checkered{% else %}book{% endif %} 
		  icon-large"></i>
	{% if user %}Submit runs now{% else %}Start tracking now{% endif %}
      </span>
      <span class="visible-xs">
	<i class="icon-{% if user %}flag-checkered{% else %}book{% endif %} 
		  icon-large"></i>
	{% if user %}Submit now{% else %}Track now{% endif %}
      </span>
    </a>
  </h1>
  <ul class="list-inline front-footer">
    <li>&bull; Created and maintained by 
      <a href="https://twitter.com/rggibson_">rggibson</a>
    </li>
    <li>&bull;
      <a href="https://github.com/rggibson/pb-tracker"><i class="icon-github"></i> GitHub open project</a>
    </li>
    <li>&bull; 
      <a href="/blog">Blog</a>
    </li>
  </ul>
</center>

{% endblock %}

{% block js %}
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  $( '#pb-carousel' ).carousel( )
  set_nav_return_urls( "/", {% if user %}true{% else %}false{% endif %} );
</script>
{% endblock %}
