{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-games").setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-lg-3 col-md-3 col-lg-push-9 col-md-push-9">
    <img id="img-{{game_code}}" alt="" class="img-responsive" 
	 style="max-height: 200px;">
  </div>
  <div class="col-lg-9 col-md-9 col-lg-pull-3 col-md-pull-3">
    <h1>{{game}}</h1>
  </div>
</div>
{% for d in gamepage %}
<h2>{{d['category']}}</h2>
{% if d['bk_time'] %}
<h4>Best known time: 
  {% if d['bk_video'] %}<a href="{{d['bk_video']}}">{% endif %}
    {{d['bk_time']}}{% if d['bk_video'] %}</a>{% endif %} 
  by {{d['bk_runner']}}
  {% if user_has_run %}
  (<a href="/game/{{game_code}}/update-bkt?c={{d['category_code']}}">update</a>)
  {% endif %}
</h4>
{% elif user_has_run %}
<h4>
  (<a href="/game/{{game_code}}/update-bkt?c={{d['category_code']}}">Set best known time</a>)
</h4>
{% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th width="25%">Runner</th>
      <th width="25%">Personal Best</th>
      <th width="25%">Runs</th>
      <th width="25%">Average Time</th>
    </tr>
  </thead>
  {% for run in d['infolist'] %}
  <tr>
    <td><a href="/runner/{{run['username_code']}}">{{run['username']}}</td>
    <td>{% if run['video'] %}<a href="{{run['video']}}">{% endif %}
	{{run['pb_time']}}{% if run['video'] %}</a>{% endif %}
    </td>
    <td>{{run['num_runs']}}</td>
    <td>{{run['avg_time']}}</td>
  </tr>
  {% endfor %}
</table>
{% endfor %}

<!-- Add game image when it exists -->
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  set_img_if_exists( "img-{{game_code}}", "{{game_code}}" );
</script>

{% endblock %}
