{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-games").setAttribute("class", "active");
</script>

<div class="row">
  <div class="list-group col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
    {% for gamedict in gamelist %}
    <a href="/game/{{gamedict['game_code']}}" class="list-group-item">
      <div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	  <center>
	    <img id="img-{{gamedict['game_code']}}" alt="" 
		 class="img-responsive lazy" 
		 data-original="/static/boxart/{{gamedict['game_code']}}.jpg"
		 style="max-height: 22px;" src="/static/boxart/__blank__.png">
	  </center>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	  {{gamedict['game']}}
	  <span class="badge pull-right">{{gamedict['num_pbs']}}
	    {% if gamedict['num_pbs'] >= 1000 %}+{% endif %}
	  </span>
	</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/js/jquery.lazyload.min.js"></script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  $( "img.lazy" ).lazyload( {
    skip_invisible: false
  } );  
  set_nav_return_urls( "/games", 
                       {% if user %}true{% else %}false{% endif %} );  
</script>
{% endblock %}
