{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-"
  + {% if user.username == runner.username %}"username"
  {% else %}"runners"{% endif %}
  ).setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-lg-3 col-md-3 col-lg-push-9 col-md-push-9">
    {% if gravatar %}
    <img src="{{gravatar}}" alt="Gravatar" class="img-responsive">
    {% endif %}
  </div>
  <div class="col-lg-9 col-md-9 col-lg-pull-3 col-md-pull-3">
    <h1>{{runner.username}}</h1>
    {% if runner.twitter %}
    <a href="https://twitter.com/{{runner.twitter}}" 
       class="social-button pull-left">
      <img src="/static/icons/twitter.png" alt="Twitter" 
	   class="img-responsive img-social">
    </a>
    {% endif %}
    {% if runner.youtube %}
    <a href="https://youtube.com/{{runner.youtube}}" 
       class="social-button pull-left" style="margin-right: 3px;">
      <img src="/static/icons/youtube.png" alt="Youtube" 
	   class="img-responsive img-social">
    </a>
    {% endif %}
    {% if runner.twitch %}
    <a href="https://twitch.com/{{runner.twitch}}" 
       class="social-button pull-left" style="margin-top: 2px;">
      <img src="/static/icons/twitch.png" alt="Twitch" 
	   class="img-responsive img-social" style="height: 33px;">
    </a>
    {% endif %}
  </div>
</div>

<a href="/runner/{{username_code}}">View PBs</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th>Game</th>
      <th>Category</th>
      <th>Time</th>
      <th>Version</th>
      <th>Date</th>
      {% if user.username == runner.username %}<th></th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for run in runlist %}
    <tr>
      <td class="hidden-xs">
	<center>
	  <a href="/game/{{run['game_code']}}">
	    <img id="img-{{loop.index}}" alt="" class="img-responsive" 
		 style="max-height: 22px;">
	  </a>
	</center>
      </td>
      <td><a href="/game/{{run['game_code']}}">{{run['game']}}</a></td>
      <td>{{run['category']}}</td>
      <td>
	{% if run['video'] %}<a href="{{run['video']}}">{% endif %}
	  {{run['time']}}{% if run['video'] %}</a>{% endif %}      
      </td>
      <td>{% if run['version'] %}{{run['version']}}{% else %}-{% endif %}</td>
      <td>{{run['date']}}</td>
      {% if user.username == runner.username %}
      <td><a href="/submit?edit={{run['run_id']}}">edit</a> | 
      <a href="/delete/{{run['run_id']}}">delete</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Add game images when they exist -->
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  {% for run in runlist %}
  set_img_if_exists( "img-{{loop.index}}", "{{run['game_code']}}" );
  {% endfor %}
</script>

{% endblock %}
