{% extends "runnerpage_base.html" %}

{% block runner_content %}

<a href="/runner/{{username_code}}">View PBs</a>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th><i class="icon-gamepad icon-large"></i> Game</th>
      <th><i class="icon-compass icon-large"></i> Category</th>
      <th><i class="icon-time icon-large"></i> Time</th>
      <th><i class="icon-desktop icon-large"></i> Version</th>
      <th><i class="icon-calendar icon-large"></i> Date</th>
      {% if user.username == runner.username %}<th></th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for run in runlist %}
    <tr>
      <td class="hidden-xs">
	<center>
	  <a href="/game/{{run['game_code']}}">
	    <img id="img-{{loop.index}}" alt="" class="img-responsive" 
		 style="max-height: 22px;">
	  </a>
	</center>
      </td>
      <td><a href="/game/{{run['game_code']}}">{{run['game']}}</a></td>
      <td>{{run['category']}}</td>
      <td>
	{% if run['video'] %}<a href="{{run['video']}}">{% endif %}
	  {{run['time']}}{% if run['video'] %}</a>{% endif %}      
      </td>
      <td>{% if run['version'] %}{{run['version']}}{% else %}-{% endif %}</td>
      <td>{{run['date']}}</td>
      {% if user.username == runner.username %}
      <td>
	<a href="/submit?edit={{run['run_id']}}"><i class="icon-edit"></i></a>  
      <a href="/delete/{{run['run_id']}}"><i class="icon-trash"></i></a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Add game images when they exist -->
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  {% for run in runlist %}
  set_boxart_if_exists( "img-{{loop.index}}", "{{run['game_code']}}" );
  {% endfor %}
</script>

{% endblock %}
