{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-login").setAttribute("class", "active");
</script>

<form method="post" class="form-signin">
  <input type="text" class="form-control" name="username" 
	 placeholder="username" value="{{username}}" autofocus>
  <input type="password" class="form-control" name="password" 
	 placeholder="password">
  <div class="error">{{error}}</div>

  <button id="submit-btn" class="btn btn-lg btn-primary btn-block" 
	  type="submit" 
	  data-loading-text="<i class='icon-refresh icon-spin icon-large'></i>
			     Logging in">
    <i class="icon-signin icon-large"></i> Log in
  </button>
  <p class="lead">New user?  Then <a href="/signup">sign up</a>.
</form>

<!-- Disable button on submit to avoid double submissions -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
</script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  block_double_submit( '#submit-btn' );
</script>

{% endblock %}
