{% extends "runnerpage_base.html" %}

{% block subtitle %}{{runner.username}} PBs{% endblock %}

{% block morehead %}
<link rel="stylesheet" type="text/css" 
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
{% endblock %}

{% block runner_content %}

<a href="/runner/{{username_code}}?q=view-all" data-toggle="tooltip"
   title="List {% if user.username == runner.username %}/ edit{% else %}all{% endif%} runs"><i class="icon-list icon-2x"></i></a>
{% if user.username == runner.username %}
<a href="/runner/{{username_code}}/edit-table" data-toggle="tooltip"
   title="Edit PB table columns"><i class="icon-columns icon-2x"></i></a>
{% endif %}

<div class="row table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="hidden"><i class="icon-flag-checkered icon-large"> Total Runs</th>
      <th class="hidden-xs {% if not visible_columns['boxart'] %}hidden{% endif %}"></th>
      <th class="{% if not visible_columns['game'] %}hidden{% endif %}"><i class="icon-gamepad icon-large"></i> Game</th>
      <th class="{% if not visible_columns['category'] %}hidden{% endif %}"><i class="icon-compass icon-large"></i> Category</th>
      <th class="{% if not visible_columns['pb'] %}hidden{% endif %}"><i class="icon-star icon-large"></i> PB</th>
      <th class="{% if not visible_columns['date'] %}hidden{% endif %}"><i class="icon-calendar icon-large"></i> Date</th>
      <th class="{% if not visible_columns['version'] %}hidden{% endif %}"><i class="icon-desktop icon-large"></i> Version</th>
      <th class="{% if not visible_columns['runs'] %}hidden{% endif %}"><i class="icon-flag-checkered icon-large"></i> Runs</th>
      <th class="{% if not visible_columns['avg_time'] %}hidden{% endif %}"><i class="icon-time icon-large"></i> Avg Time</th>
      <th class="{% if not visible_columns['bkt'] %}hidden{% endif %}"><i class="icon-trophy icon-large"></i> Best Known Time</th>
    </tr>
  </thead>
  <tbody>
    {% for pb in pblist %}
    {% set outer_loop = loop %}
    {% for info in pb['infolist'] %}
    <tr>
      <td class="hidden">{{pb['num_runs']}}
      </td>
      <td class="hidden-xs {% if loop.first %}non-dupe-{{pb['infolist']|length}}{% else %}dupe{% endif %} {% if not visible_columns['boxart'] %}hidden{% endif %}">
	<center>
	  <a href="/game/{{pb['game_code']}}">
	    <img id="img-{{outer_loop.index}}" alt="" 
		 class="img-responsive lazy" 
		 style="max-height: 50px; max-width: 100px;" 
		 src="/static/boxart/__blank__.png"
		 data-original="/static/boxart/{{pb['game_code']}}.jpg">
	  </a>
	</center>
      </td>
      <td class="{% if loop.first%}non-dupe-{{pb['infolist']|length}}{% else %}dupe{% endif %} {% if not visible_columns['game'] %}hidden{% endif %}">
	<a href="/game/{{pb['game_code']}}">
	  {{pb['game']}}
	</a>
      </td>
      <td class="{% if not visible_columns['category'] %}hidden{% endif %}"><a href="/game/{{pb['game_code']}}#{{info['category_code']}}">{{info['category']}}</a></td>
      <td class="{% if not visible_columns['pb'] %}hidden{% endif %}">
	{% if info['video'] %}
	<a href="{{info['video']}}" data-toggle="tooltip" title="See video">{% endif %}
	  {{info['pb_time']}}{% if info['video'] %}</a>{% endif %}
      </td>
      <td class="{% if not visible_columns['date'] %}hidden{% endif %}">{% if info['pb_date'] %}{{info['pb_date'].strftime( "%b %d %Y" )}}{% else %}-{% endif %}</td>
      <td class="{% if not visible_columns['version'] %}hidden{% endif %}">{% if info['version'] %}{{info['version']}}{% else %}-{% endif %}</td>
      <td class="{% if not visible_columns['runs'] %}hidden{% endif %}">{{info['num_runs']}}</td>
      <td class="{% if not visible_columns['avg_time'] %}hidden{% endif %}">{{info['avg_time']}}</td>
      <td class="{% if not visible_columns['bkt'] %}hidden{% endif %}">{% if info['bk_time'] %}
	{% if info['bk_video'] %}
	<a href="{{info['bk_video']}}" data-toggle="tooltip" title="See video">{% endif %}
	  {{info['bk_time']}}{% if info['bk_video'] %}</a>{% endif %} 
	by {{info['bk_runner']}} 
	{% if user.username == runner.username %}
	<a href="/game/{{pb['game_code']}}/update-bkt?c={{info['category_code']}}&from=/runner/{{username_code}}" data-toggle="tooltip" 
	   title="Update best known time"><i class="icon-edit"></i></a>
	{% endif %}
	{% else %}
	{% if user.username == runner.username %}
	<a href="/game/{{pb['game_code']}}/update-bkt?c={{info['category_code']}}&from=/runner/{{username_code}}" data-toggle="tooltip"
	   title="Set best known time"><i class="icon-edit"></i></a>
	{% else %}
	-
	{% endif %}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}

{% block runner_js %}
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  /* Fix boxart url */
  {% for pb in pblist %}
  $( "#img-{{loop.index}}" ).attr( "data-original", $( "#img-{{loop.index}}" ).attr( "data-original" ).replace( "%2B", "+" ) );
  {% endfor %}
  $( document ).ready( function( ) {
    /* datatables.net */
    var oTable = $( ".table" ).dataTable( {
      "bSortClasses": false, /* Don't add some of the extra css classes */
      "asStripClasses": [ ], /* Remove table-striping classes */
      "bAutoWidth": false,
      "bPaginate": false,
      "bProcessing": true, /* Display a processing message when thinking */
      "bFilter": false,
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 1, 3, 4, 5, 6, 8, 9 ] },
        { "aDataSort": [ 0 ], "aTargets": [ 7 ] }
      ],
      "fnDrawCallback": function( oSettings ) {
        var odd = 0;
        $( "tr" ).each( function( index ) {
          if( $( this ).children( ).length > 1 ) {
            var child = $( this ).children( )[ 1 ];
            if( $( child ).attr( 'class' ).indexOf( "non-dupe-" ) != -1 ) {
              odd = 1 - odd;
            }
          }
          if( odd == 1 ) {
            $( this ).addClass( 'active' );
          } else {
            $( this ).removeClass( 'active' );
          }
          $( this ).removeClass( 'odd' ).removeClass( 'even' );
        } );
        $( ".dupe" ).remove( );
        $( "td[class*='non-dupe-']" ).each( function( index ) {
          var className = $( this ).attr( 'class' );
          var m = className.match( /non-dupe-(\d+)/ );
          $( this ).attr( 'rowspan', "" + m[ 1 ] );
        } );
      }
    } );

    /* Set default sort on page ready */
    oTable.fnSort( [ [ 7, 'desc' ] ] ); 
  } );
</script>
{% endblock %}


{% block morefoot %}
<a href="/runner/{{username_code}}.json">
  <i class="icon-rss icon-large"></i></a>
{% endblock %}
