{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-runners").setAttribute("class", "active");
</script>

<div class="row">
  <div class="list-group col-lg-6 col-lg-offset-3">
    {% for runnerdict in runnerlist %}
    <a href="/runner/{{runnerdict['username_code']}}" class="list-group-item">
      <span class="badge">{{runnerdict['num_pbs']}}
	{% if runnerdict['num_pbs'] >= 1000 %}+{% endif %}
      </span>
      {{runnerdict['username']}}
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
