{% extends "base.html" %}

{% block subtitle %}Runners{% endblock %}

{% block content %}

<script type="text/javascript">
  document.getElementById("nav-runners").setAttribute("class", "active");
</script>

<div class="row">
  <div class="list-group col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
    {% for runnerdict in runnerlist %}
    <a href="/runner/{{runnerdict['username_code']}}" class="list-group-item">
      <div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	  <center>
	    <img alt="" class="img-responsive lazy" style="max-height: 22px;"
		 src="/static/boxart/__blank__.png"
		 data-original="{{runnerdict['gravatar_url']}}">
	  </center>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
	  {{runnerdict['username']}}
	  <span class="badge pull-right">{{runnerdict['num_pbs']}}
	    {% if runnerdict['num_pbs'] >= 1000 %}+{% endif %}
	  </span>
	</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block morefoot %}
<a href="/runners.json"><i class="icon-rss icon-large"></i></a>
{% endblock %}

{% block js %}
<script src="/static/js/jquery.lazyload.min.js"></script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  $( "img.lazy" ).lazyload( {
    skip_invisible: false
  } );  
  set_nav_return_urls( "/runners", 
                       {% if user %}true{% else %}false{% endif %} );  
</script>
{% endblock %}
