{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
  document.getElementById(
  "nav-{% if user %}username{% else %}signup{% endif %}").setAttribute(
  "class", "active");
</script>

<div class="row">
  <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
  </div>
</div>
<form method="post" class="form-horizontal" role="form">
  {% if not user %}
  <div class="form-group{% if user_error %} has-error{% endif %}">
    <label for="username" class="col-lg-4 col-md-4 control-label">
      Username (permanent, choose wisely)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="username" 
	     placeholder="e.g. Spiderman" value="{{username}}" autofocus>
    </div>
    <div class="col-lg-4 col-md-4 error">{{user_error}}</div>
  </div>
  {% endif %}
  <div class="form-group{% if pass_error %} has-error{% endif %}">
    <label for="password" class="col-lg-4 col-md-4 control-label">
      Password {% if user %}(leave blank to not change){% endif %}
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="password" class="form-control" name="password" 
	     placeholder="3-20 characters" value="{{password}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{pass_error}}</div>
  </div>
  <div class="form-group{% if verify_error %} has-error{% endif %}">
    <label for="verify" class="col-lg-4 col-md-4 control-label">
      Retype password {% if user %}(leave blank to not change){% endif %}
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="password" class="form-control" name="verify" 
	     placeholder="The same 3-20 characters" value="{{verify}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{ver_error}}</div>
  </div>
  <div class="form-group{% if twitter_error %} has-error{% endif %}">
    <label for="twitter" class="col-lg-4 col-md-4 control-label">
      Twitter handle (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="twitter" 
	     placeholder="e.g. @spidey127" value="{{twitter}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{twitter_error}}</div>
  </div>
  <div class="form-group{% if youtube_error %} has-error{% endif %}">
    <label for="youtube" class="col-lg-4 col-md-4 control-label">
      YouTube handle (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="youtube" 
	     placeholder="e.g. spideyvids" value="{{youtube}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{youtube_error}}</div>
  </div>
  <div class="form-group{% if twitch_error %} has-error{% endif %}">
    <label for="twitch" class="col-lg-4 col-md-4 control-label">
      Twitch TV handle (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="twitch" 
	     placeholder="e.g. sp1derman" value="{{twitch}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{twitch_error}}</div>
  </div>
  <div class="form-group{% if gravatar_error %} has-error{% endif %}">
    <label for="gravatar" class="col-lg-4 col-md-4 control-label">
      Gravatar email (optional, private)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="gravatar" 
	     placeholder="e.g. spiderman64@gmail.com" value="{{gravatar}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{gravatar_error}}</div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <button id="submit-btn" class="btn btn-lg btn-primary" type="submit"
	      data-loading-text="<i class='icon-refresh icon-spin 
				 icon-large'></i> {% if user %}Saving
				 {% else %}Registering{% endif %}">
	{% if user %}<i class="icon-save icon-large"></i> Save changes
	{% else %}<i class="icon-book icon-large"></i> Sign up{% endif %}
      </button>
    </div>
  </div>
</form>
{% if not user %}
<center>
  <p class="lead">Already signed up?  Then <a href="/login">log in</a>.
</center>
{% endif %}

<!-- Disable button on submit to avoid double submissions -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
</script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  block_double_submit( '#submit-btn' );
</script>

{% endblock %}
