{% extends "base.html" %}

{% block subtitle %}
{% if username %}Sign up{% else %}Edit Profile{% endif %}
{% endblock %}

{% block content %}

<script type="text/javascript">
  document.getElementById(
  "nav-{% if user %}username{% else %}signup{% endif %}").setAttribute(
  "class", "active");
</script>

<form method="post" class="form-horizontal" role="form">
  {% if not user %}
  <div class="form-group{% if user_error %} has-error{% endif %}">
    <label for="username" class="col-lg-4 col-md-4 control-label">
      Username (permanent, choose wisely)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="username" 
	     placeholder="e.g. Spiderman" value="{{username}}" autofocus>
    </div>
    <div class="col-lg-4 col-md-4 error">{{user_error}}</div>
  </div>
  {% endif %}
  <div class="form-group{% if pass_error %} has-error{% endif %}">
    <label for="password" class="col-lg-4 col-md-4 control-label">
      Password {% if user %}(leave blank to not change){% endif %}
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="password" class="form-control" name="password" 
	     placeholder="3-20 characters" value="{{password}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{pass_error}}</div>
  </div>
  <div class="form-group{% if verify_error %} has-error{% endif %}">
    <label for="verify" class="col-lg-4 col-md-4 control-label">
      Retype password {% if user %}(leave blank to not change){% endif %}
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="password" class="form-control" name="verify" 
	     placeholder="The same 3-20 characters" value="{{verify}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{ver_error}}</div>
  </div>
  <div class="form-group{% if twitter_error %} has-error{% endif %}">
    <label for="twitter" class="col-lg-4 col-md-4 control-label">
      Twitter handle (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="twitter" 
	     placeholder="e.g. @spidey127" value="{{twitter}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{twitter_error}}</div>
  </div>
  <div class="form-group{% if youtube_error %} has-error{% endif %}">
    <label for="youtube" class="col-lg-4 col-md-4 control-label">
      YouTube handle (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="youtube" 
	     placeholder="e.g. spideyvids" value="{{youtube}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{youtube_error}}</div>
  </div>
  <div class="form-group{% if twitch_error %} has-error{% endif %}">
    <label for="twitch" class="col-lg-4 col-md-4 control-label">
      Twitch TV handle (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="twitch" 
	     placeholder="e.g. sp1derman" value="{{twitch}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{twitch_error}}</div>
  </div>
  <div class="form-group{% if gravatar_error %} has-error{% endif %}">
    <label for="gravatar" class="col-lg-4 col-md-4 control-label">
      <a href="http://gravatar.com">Gravatar</a> (optional, private)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" name="gravatar" 
	     placeholder="e.g. spiderman64@gmail.com" value="{{gravatar}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{gravatar_error}}</div>
  </div>
  <div class="form-group">
    <label for="boxart" class="col-lg-4 col-md-4 control-label">
      Show on PB page
    </label>
    <div class="col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="boxart_visible" value="yes"
	       {% if visible_columns['boxart'] %} checked="checked"{% endif %}>
	<i class="icon-picture icon-large"></i> 
	Box art (hidden on small devices)
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="game_visible" value="yes"
	       {% if visible_columns['game'] %} checked="checked"{% endif %}>
	<i class="icon-gamepad icon-large"></i> Game
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="category_visible" value="yes"
	       {% if visible_columns['category'] %} checked="checked"{% endif %}>
	<i class="icon-compass icon-large"></i> Category
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="pb_visible" value="yes"
	       {% if visible_columns['pb'] %} checked="checked"{% endif %}>
	<i class="icon-star icon-large"></i> PB
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="date_visible" value="yes"
	       {% if visible_columns['date'] %} checked="checked"{% endif %}>
	<i class="icon-calendar icon-large"></i> Date
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="version_visible" value="yes"
	       {% if visible_columns['version'] %} checked="checked"{% endif %}>
	<i class="icon-desktop icon-large"></i> Console / Emulator / Version
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="runs_visible" value="yes"
	       {% if visible_columns['runs'] %} checked="checked"{% endif %}>
	<i class="icon-flag-checkered icon-large"></i> Number of runs
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="avg_time_visible" value="yes"
	       {% if visible_columns['avg_time'] %} checked="checked"{% endif %}>
	<i class="icon-time icon-large"></i> Average time
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" name="bkt_visible" value="yes"
	       {% if visible_columns['bkt'] %} checked="checked"{% endif %}>
	<i class="icon-trophy icon-large"></i> Best known time
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <button id="submit-btn" class="btn btn-lg btn-primary" type="submit"
	      data-loading-text="<i class='icon-refresh icon-spin 
				 icon-large'></i> {% if user %}Saving
				 {% else %}Registering{% endif %}">
	{% if user %}<i class="icon-save icon-large"></i> Save changes
	{% else %}<i class="icon-book icon-large"></i> Sign up{% endif %}
      </button>
    </div>
  </div>
</form>
{% if not user %}
<center>
  <p class="lead">Already signed up?  Then <a href="/login?from={{return_url}}">log in</a>.
</center>
{% endif %}

{% endblock %}

{% block js %}
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  /* Disable button on submit to avoid double submissions */
  block_double_submit( '#submit-btn' );
  set_nav_return_urls( "{{return_url}}", false );
</script>
{% endblock %}
