{% extends "base.html" %}

{% block morehead %}

<link rel="stylesheet" 
      href="/static/css/jquery-ui.min.css"/>

{% endblock %}


{% block content %}

<script type="text/javascript">
  document.getElementById("nav-" + 
  {% if run_id %}"username"{% else %}"submit"{% endif %})
  .setAttribute("class", "active");
</script>

<form method="post" class="form-horizontal" role="form">
  <div class="form-group{% if game_error %} has-error{% endif %}">
    <label for="game" class="col-lg-4 col-md-4 control-label">
      <i class="icon-gamepad icon-large"></i> Game
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" id="game" 
	     name="game" 
	     placeholder="e.g. Mega Man 2" value="{{game}}" autofocus> 
    </div>
    <div class="col-lg-4 col-md-4 error">{{game_error}}</div>
  </div>
  <div class="form-group{% if category_error %} has-error{% endif %}">
    <label for="category" class="col-lg-4 col-md-4 control-label">
      <i class="icon-compass icon-large"></i> Category
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" id="category" name="category"
	     placeholder="e.g. Any% (Normal)" value="{{category}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{category_error}}</div>
  </div>
  <div class="form-group{% if time_error %} has-error{% endif %}">
    <label for="time" class="col-lg-4 col-md-4 control-label">
      <i class="icon-time icon-large"></i> Time
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" id="time" name="time"
	     placeholder="e.g. 2:34:56" value="{{time}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{time_error}}</div>
  </div>
  <div class="form-group{% if date_error %} has-error{% endif %}">
    <label for="date" class="col-lg-4 col-md-4 control-label">
      <i class="icon-calendar icon-large"></i> Date
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" id="date" name="date"
	     placeholder="e.g. 12/31/2012" 
	     value="{% if date %}{{date.strftime( '%m/%d/%Y' )}}{% endif %}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{date_error}}</div>
  </div>
  <div class="form-group{% if version_error %} has-error{% endif %}">
    <label for="version" class="col-lg-4 col-md-4 control-label">
      <i class="icon-desktop icon-large"></i> 
      Console / Emulator / Version (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" id="version" name="version"
	     placeholder="e.g. NES" value="{{version}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{version_error}}</div>
  </div>
  <div class="form-group{% if video_error %} has-error{% endif %}">
    <label for="video" class="col-lg-4 col-md-4 control-label">
      <i class="icon-facetime-video icon-large"></i> Video (optional)
    </label>
    <div class="col-lg-4 col-md-4">
      <input type="text" class="form-control" id="video" name="video"
	     placeholder="e.g. http://www.youtube.com/watch?v=oLXNOHdo8s8" 
	     value="{{video}}">
    </div>
    <div class="col-lg-4 col-md-4 error">{{video_error}}</div>
  </div>
  <div class="form-group{% if bkt_error %} has-error{% endif %}">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <label>
	<input type="checkbox" id="bkt" name="bkt" value="yes"
	       {% if is_bkt %} checked="checked" {% endif %}> 
	<i class="icon-trophy icon-large"></i> Best known time?
      </label>
    </div>
    <div class="col-lg-4 col-md-4 error">{{bkt_error}}</div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
      <button id="submit-btn" class="btn btn-lg btn-primary" type="submit"
	      data-loading-text="<i class='icon-refresh icon-spin 
				 icon-large'></i> {% if run_id %}Saving
				 {% else %}Submitting{% endif %}">
	{% if run_id %}<i class="icon-save icon-large"></i> Save changes
	{% else %}<i class="icon-flag-checkered icon-large"></i>
	Submit{% endif %}
      </button>
    </div>
  </div>
</form>

{% endblock %}

{% block js %}
<script src="/static/js/jquery-ui.min.js"></script>
<!-- Have to re-include bootstrap.js, otherwise blocking double 
     submit breaks -->
<script 
   src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
</script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  block_double_submit( '#submit-btn' );

  $( document ).ready( function( ) {
    var categories = {{categories | safe}};
    /* Autocomplete game input */
    $( 'input#game' ).autocomplete( {
      source: keys( categories ).sort( )
    } ); 

    /* Autocomplete category input */
    $( 'input#category' ).focus( function() {
      var game = $( 'input#game' ).val( );
      if( categories[ game ] ) {
        $( 'input#category' ).autocomplete( {
          source: categories[ game ]
        } );
      } else {
        $( 'input#category' ).autocomplete( {
          source: [ ]
        } );
      }
    } );

    /* Date picker */
    $( 'input#date' ).datepicker( {
      changeMonth: true,
      changeYear: true,
      maxDate: 0
    } );
  } );
</script>
{% endblock %}
