{% extends "base.html" %}

{% block morehead %}

<link rel="stylesheet" 
      href="/static/css/jquery-ui.min.css"/>

{% endblock %}


{% block content %}

<script type="text/javascript">
  document.getElementById("nav-" + {% if from_runnerpage %}"username"{% else %}"games"{% endif %}).setAttribute("class", "active");
</script>

<div class="row">
  <div class="col-lg-3 col-md-3 col-lg-push-9 col-md-push-9">
    <a href="/game/{{game_code}}">
      <img alt="" class="img-responsive lazy" style="max-height: 200px;"
	   src="/static/boxart/__blank-pixel__.png"
	   data-original="/static/boxart/{{game_code}}.jpg">
    </a>
  </div>
  <div class="col-lg-8 col-md-8 col-lg-pull-3 col-md-pull-3">
    <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6">
      <ul class="icons-ul">
	<li>
	  <h1>
	    <i class="icon-li icon-gamepad"></i><a href="/game/{{game_code}}">
	      {{game}}
	    </a>
	  </h1>
	</li>
	<li><h2><i class="icon-li icon-compass"></i>{{category}}</h2></li>
      </ul>
    </div>
    <form method="post" class="form-horizontal" role="form">
      <div class="form-group{% if username_error %} has-error{% endif %}">
	<label for="username" class="col-lg-6 col-md-6 control-label">
	  <i class="icon-user icon-large"></i> Runner
	</label>
	<div class="col-lg-6 col-md-6">
	  <input type="text" class="form-control" id="username" name="username" 
		 placeholder="e.g. Spiderman" value="{{username}}" autofocus>
	</div>
	<div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 error">
	  {{username_error}}
	</div>
      </div>
      <div class="form-group{% if time_error %} has-error{% endif %}">
	<label for="time" class="col-lg-6 col-md-6 control-label">
	  <i class="icon-time icon-large"></i> Time
	</label>
	<div class="col-lg-6 col-md-6">
	  <input type="text" class="form-control" id="time" name="time"
		 placeholder="e.g. 2:34:56" value="{{time}}">
	</div>
	<div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 error">
	  {{time_error}}
	</div>
      </div>
      <div class="form-group{% if date_error %} has-error{% endif %}">
	<label for="date" class="col-lg-6 col-md-6 control-label">
	  <i class="icon-calendar icon-large"></i> Date (optional)
	</label>
	<div class="col-lg-6 col-md-6">
	  <input type="text" class="form-control" id="date" name="date"
		 placeholder="e.g. 12/31/2012" 
		 value="{% if datestr %}{{datestr}}{% endif %}">
	</div>
	<div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 error">
	  {{date_error}}
	</div>
      </div>
      <div class="form-group{% if video_error %} has-error{% endif %}">
	<label for="video" class="col-lg-6 col-md-6 control-label">
	  <i class="icon-facetime-video icon-large"></i> Video (optional)
	</label>
	<div class="col-lg-6 col-md-6">
	  <input type="text" class="form-control" id="video" name="video"
		 placeholder="e.g. http://www.youtube.com/watch?v=oLXNOHdo8s8" 
		 value="{% if video %}{{video}}{% endif %}">
	</div>
	<div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 error">
	  {{video_error}}
	</div>
      </div>
      <div class="form-group">
	<div class="col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6">
	  <button id="submit-btn" class="btn btn-lg btn-primary" type="submit"
		  data-loading-text="<i class='icon-refresh icon-spin 
				     icon-large'></i> Saving">	
	    <i class="icon-save icon-large"></i> 
	    {% if updating %}Update{% else %}Set{% endif %} best known time
	  </button>
	</div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/js/jquery-ui.min.js"></script>
<!-- Have to re-include bootstrap.js, otherwise blocking double 
     submit breaks -->
<script 
   src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
</script>
<script src="/static/js/jquery.lazyload.min.js"></script>
<script src="/static/js/util.js"></script>
<script type="text/javascript">
  $( "img.lazy" ).lazyload( {
    skip_invisible: false
  } );  
  block_double_submit( '#submit-btn' );

  $( document ).ready( function( ) {
    /* Date picker */
    $( 'input#date' ).datepicker( {
      changeMonth: true,
      changeYear: true,
      minDate: new Date( 1970, 0, 1 ),
      maxDate: 0
    } );
  } );
  set_nav_return_urls( "{{return_url}}", true );
</script>
{% endblock %}
